In [2]:
# day 4 크롤링 관련입니다. 
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np
import os

In [3]:
r = requests.get("http://www.wooribank.com/",
                timeout =15,
                headers = {
                    "user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36"
                })
r.encoding = "utf-8" # encoding 방식 지정 중요!

r.status_code # 200 대이면 정상입니다.

200

In [4]:
soup = BeautifulSoup(r.content, 'html.parser')
print(soup.title)
print(soup.title.string)

<title>우리은행</title>
우리은행

In [5]:
soup.select("div[class='tit-5 absolute js-display-hover']")

[<div class="tit-5 absolute js-display-hover">
 <a class="js-display-hover-trigger" href="https://spot.wooribank.com/pot/Dream?withyou=po"><img alt="금융상품" src="https://simg.wooribank.com/img/intro/header/btn_tit_4_intro_new_211130.png"/></a>
 <div class="js-display-hover-area level2">
 <span class="arrow"></span>
 <ul class="menu">
 <li class="title"><a href="https://spot.wooribank.com/pot/Dream?withyou=po">금융상품</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=PORMG0002">추천상품</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=PODEP0001">예금</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=OWFDM0003">펀드</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=ln">대출</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=fx">외환</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=POGLD0001">골드</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=POTRT0001">신탁</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=POBAC0001">보험</a></li>
 <li><a href="https://svc.wooribank.com/svc/Dream?withyou=rp">퇴직연금</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=OWMNG0014">시니어플러스 은퇴설계</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=IMISA0044">ISA</a></li>
 </ul>
 </div>
 </div>]

In [6]:
for item in soup.select("div[class='tit-5 absolute js-display-hover'] li"):
    print(item.text) # select_one은 한개 == find , select = find_all

금융상품
추천상품
예금
펀드
대출
외환
골드
신탁
보험
퇴직연금
시니어플러스 은퇴설계
ISA

In [7]:
# 실습문제 풀어보자 
# 오늘의 코스피 받아오기 

r = requests.get("https://finance.naver.com/")
r.encoding = "utf-8" # encoding 방식 지정 중요!

r.status_code # 200 대이면 정상입니다. 

#soup.select("div[class='tit-5 absolute js-display-hover']")
soup = BeautifulSoup(r.content, 'html.parser')
print(soup.title.string)
kospi = soup.select_one("span[class='num']")
print(kospi.string)

네이버 금융
2,604.24

In [8]:
# finance date 크롤링 
!pip install finance-datareader
import FinanceDataReader as fdr
import re #정규식 부분입니다.

Requirement already satisfied: finance-datareader in c:\users\hong\anaconda3\lib\site-packages (0.9.33)
Requirement already satisfied: lxml in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: requests>=2.3.0 in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.19.2 in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (1.3.4)
Requirement already satisfied: requests-file in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: tqdm in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hong\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hong\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hong\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hong\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.2)
Requirement already satisfied: colorama in c:\users\hong\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.4)

In [10]:
#투자 지표 수집이 가능합니다. 
fdr.DataReader('AAPL','2019').head(3)  # 주의 쌍따움표는 안됩니다. 왜 안되지?
#fdr.DataReader('AAPL', '2017').head(3)

            Close   Open   High    Low       Volume  Change
Date
2019-01-02  39.48  38.72  39.71  38.56  148160000.0  0.0010
2019-01-03  35.55  35.99  36.43  35.50  365250000.0 -0.0995
2019-01-04  37.06  36.13  37.14  35.95  234430000.0  0.0425

In [11]:
# 기간 설정도 간으합니다.
fdr.DataReader('AMAZ','2019/01/01','2019/12/31').head(3) #기간을 해보는 것 - / 붙여쓰기 다 가능합니다. 
# USD/KRW 환율입니다.

            Close  Open  High   Low   Volume  Change
Date
2019-01-02   0.21   0.2  0.21  0.20   6400.0  0.1667
2019-01-03   0.18   0.2  0.20  0.18   5720.0 -0.1429
2019-01-04   0.20   0.2  0.20  0.20  12670.0  0.1111

In [12]:
stocks = fdr.StockListing('krx') # KRX krx 대소문자 구별 안함 
stocks.head(5)
stocks.dropna(inplace=True) # 지표가 없는 것들 삭제 전처리 중

In [13]:
base_url = "https://search.itooza.com/search.htm?seName={}&jl=&search_ck=&sm=&sd=2021-08-09&ed=2021-09-08&ds_de=&page=&cpv="
formatted_url = base_url.format('060310')# S3 의 주식 symbol {} 안에 들어 갈것 동적으로 입력합니다. 
html = requests.get(formatted_url).content

soup = BeautifulSoup(html,'lxml')

In [ ]:
#beautifulsoup 파싱 방법, html.parser 설치 필요없고 중간 속, lxml 속도가 빠름 추가 설치 필요
# html5lib 웹브라우저와 같은 방식으로 페이지 파싱 합니다. 느립니다.

In [24]:
for code, name in stocks[:5][['Symbol','Name']].values: #[행][열] 여러개 담을때는 리스트 형태로 입력해 줘야 합니다. 
    print(code, name) # 테스트 용도로 출력
    while True:
        try:
            url = base_url.format(code)
            html = requests.get(url).content
            soup = BeautifulSoup(html,'lxml')
            break
        except:
            print('error')
            time.sleep(15)
            
#div[cl"ass='[it-5s='ex']"olute js-display-hover']
    table = soup.select("table[class='ex']")
    #table = soup.find("table",{"class":"ex"}) # find와 select 차이 점이 무엇일까?
    
    print(table)
    if table == None: # 없으면 할일이 없다 넘어감 
        continue
    
    idx = ["2021-2Q", "2021-1Q",
           "2020-4Q", "2020-3Q", "2020-2Q", "2020-1Q",
           "2019-4Q", "2019-3Q", "2019-2Q", "2019-1Q",
           "2018-4Q", "2018-3Q"] # 인덱스 정의 
    
    tbody = table.find('tbody')
    t_row = tbody.select('tr')
    
    result_dic ={}
    for tr in t_row:
        col_name = tr.select_one('th').text
        values = [td.text for td in tr.select('td')]
        result_dic[col_name] = values
    
    result  = pd.DataFrame.from_dict(result_dic)
    print(result)
    result.drop('주가',axis=1,inplace=True) # 주가열 필요없
    result['분기'] = idx
    
    if code == '060310': print(result) # 첫 루프를 돌 때만 result 출력

    result.to_csv(name + ".csv", index = False) # csv 파일로 저장. 파일 목록 확인해보기
    
    time.sleep(1) # 1초씩 재우기

060310 3S
[<table border="1" class="ex">
<thead>
<tr>
<th>투자지표</th>
<th>	21.12월</th>
<th>	21.09월</th>
<th>	21.06월</th>
<th>	21.03월</th>
<th>	20.12월</th>
<th>	20.09월</th>
<th>	20.06월</th>
<th>	20.03월</th>
<th>	19.12월</th>
<th>	19.09월</th>
<th>	19.06월</th>
<th>	19.03월</th>
</tr>
</thead>
<tbody>
<tr>
<th>주당순이익(EPS,연결지배)</th>
<td>80</td>
<td>61</td>
<td>18</td>
<td>15</td>
<td>-65</td>
<td>-62</td>
<td>-52</td>
<td>-24</td>
<td>60</td>
<td>80</td>
<td>76</td>
<td class="last">32</td>
</tr>
<tr>
<th>주당순이익(EPS,개별)</th>
<td>79</td>
<td>59</td>
<td>22</td>
<td>17</td>
<td>-57</td>
<td>-54</td>
<td>-44</td>
<td>-16</td>
<td>53</td>
<td>75</td>
<td>70</td>
<td class="last">26</td>
</tr>
<tr>
<th><abbr title="(주가 / EPS)">PER</abbr> (배)</th>
<td>42.09</td>
<td>67.92</td>
<td>180.27</td>
<td>155.73</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>47.04</td>
<td>45.97</td>
<td>35.07</td>
<td class="last">75.83</td>
</tr>
<tr>
<th>주당순자산(지분법)</th>
<td>848</td>
<td>825</td>
<td>797</td>
<td>792</td>
<td>722</td>
<td>718</td>
<td>734</td>
<td>745</td>
<td>786</td>
<td>779</td>
<td>785</td>
<td class="last">768</td>
</tr>
<tr>
<th><abbr title="(주가 / BPS)">PBR</abbr> (배)</th>
<td>3.92</td>
<td>4.97</td>
<td>3.85</td>
<td>2.99</td>
<td>3.00</td>
<td>2.95</td>
<td>3.30</td>
<td>2.51</td>
<td>3.59</td>
<td>4.69</td>
<td>3.37</td>
<td class="last">3.11</td>
</tr>
<tr>
<th><abbr title="주당 배당금">주당 배당금</abbr></th>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td class="last">N/A</td>
</tr>
<tr>
<th><abbr title="시가 배당률">시가 배당률</abbr> (%)</th>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td class="last">N/A</td>
</tr>
<tr>
<th><abbr title="(순이익 / 자본총계)">ROE</abbr> (%)</th>
<td>9.31</td>
<td>7.32</td>
<td>2.13</td>
<td>1.92</td>
<td>-9.00</td>
<td>-8.61</td>
<td>-7.11</td>
<td>-3.24</td>
<td>7.63</td>
<td>10.19</td>
<td>9.61</td>
<td class="last">4.11</td>
</tr>
<tr>
<th>순이익률 (%)</th>
<td>16.76</td>
<td>11.69</td>
<td>3.42</td>
<td>2.96</td>
<td>-11.77</td>
<td>-13.09</td>
<td>-12.07</td>
<td>-4.78</td>
<td>8.89</td>
<td>10.49</td>
<td>9.46</td>
<td class="last">3.95</td>
</tr>
<tr>
<th>영업이익률 (%)</th>
<td>5.87</td>
<td>1.89</td>
<td>-5.83</td>
<td>-6.00</td>
<td>-5.61</td>
<td>-4.80</td>
<td>-3.78</td>
<td>2.07</td>
<td>10.03</td>
<td>11.19</td>
<td>10.47</td>
<td class="last">4.65</td>
</tr>
<tr>
<th>주가</th>
<td>3,325</td>
<td>4,105</td>
<td>3,065</td>
<td>2,395</td>
<td>2,165</td>
<td>2,120</td>
<td>2,420</td>
<td>1,870</td>
<td>2,820</td>
<td>3,650</td>
<td>2,645</td>
<td class="last">2,390</td>
</tr>
</tbody>
</table>, <table border="1" class="ex">
<thead>
<tr>
<th>투자지표</th>
<th>	21.12월</th>
<th>	21.03월</th>
<th>	20.03월</th>
<th>	19.03월</th>
<th>	18.03월</th>
<th>	17.03월</th>
<th>	16.03월</th>
<th>	15.03월</th>
<th>	14.03월</th>
<th>	13.03월</th>
<th>	12.03월</th>
<th>	11.03월</th>
</tr>
</thead>
<tbody>
<tr>
<th>주당순이익(EPS,연결지배)</th>
<td>43</td>
<td>15</td>
<td>-24</td>
<td>32</td>
<td>-34</td>
<td>-210</td>
<td>-83</td>
<td>-137</td>
<td>-116</td>
<td>17</td>
<td>42</td>
<td class="last">42</td>
</tr>
<tr>
<th>주당순이익(EPS,개별)</th>
<td>39</td>
<td>17</td>
<td>-16</td>
<td>27</td>
<td>-49</td>
<td>-211</td>
<td>-89</td>
<td>-135</td>
<td>-117</td>
<td>16</td>
<td>37</td>
<td class="last">42</td>
</tr>
<tr>
<th><abbr title="(주가 / EPS)">PER</abbr> (배)</th>
<td>N/A</td>
<td>155.73</td>
<td>N/A</td>
<td>75.83</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>506.82</td>
<td>504.11</td>
<td class="last">N/A</td>
</tr>
<tr>
<th>주당순자산(지분법)</th>
<td>848</td>
<td>792</td>
<td>745</td>
<td>768</td>
<td>704</td>
<td>695</td>
<td>846</td>
<td>928</td>
<td>1,051</td>
<td>1,168</td>
<td>749</td>
<td class="last">505</td>
</tr>
<tr>
<th><abbr title="(주가 / BPS)">PBR</abbr> (배)</th>
<td>3.92</td>
<td>2.99</td>
<td>2.51</td>
<td>3.11</td>
<td>3.15</td>
<td>3.53</td>
<td>2.82</td>
<td>3.71</td>
<td>5.74</td>
<td>7.44</td>
<td>26.98</td>
<td class="last">N/A</td>
</tr>
<tr>
<th><abbr title="주당 배당금">주당 배당금</abbr></th>
<td>N/A</td>
<td>N/A</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td class="last">0</td>
</tr>
<tr>
<th><abbr title="시가 배당률">시가 배당률</abbr> (%)</th>
<td>N/A</td>
<td>N/A</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td>0.0</td>
<td class="last">0.0</td>
</tr>
<tr>
<th><abbr title="(순이익 / 자본총계)">ROE</abbr> (%)</th>
<td>N/A</td>
<td>1.92</td>
<td>-3.24</td>
<td>4.11</td>
<td>-4.66</td>
<td>-30.17</td>
<td>-9.84</td>
<td>-14.76</td>
<td>-11.07</td>
<td>1.47</td>
<td>5.35</td>
<td class="last">8.05</td>
</tr>
<tr>
<th>순이익률 (%)</th>
<td>10.92</td>
<td>2.96</td>
<td>-4.78</td>
<td>3.95</td>
<td>-4.54</td>
<td>-33.24</td>
<td>-14.33</td>
<td>-24.12</td>
<td>-16.49</td>
<td>2.18</td>
<td>5.09</td>
<td class="last">N/A</td>
</tr>
<tr>
<th>영업이익률 (%)</th>
<td>11.20</td>
<td>-6.00</td>
<td>2.07</td>
<td>4.65</td>
<td>1.06</td>
<td>-9.14</td>
<td>4.96</td>
<td>-17.91</td>
<td>-8.80</td>
<td>5.77</td>
<td>9.12</td>
<td class="last">N/A</td>
</tr>
<tr>
<th>주가</th>
<td>3,325</td>
<td>2,395</td>
<td>1,870</td>
<td>2,390</td>
<td>2,215</td>
<td>2,455</td>
<td>2,390</td>
<td>3,445</td>
<td>6,040</td>
<td>8,690</td>
<td>20,298</td>
<td class="last">4,738</td>
</tr>
</tbody>
</table>, <table border="1" class="ex">
<thead>
<tr>
<th>투자지표</th>
<th>	21.12월</th>
<th>	21.09월</th>
<th>	21.06월</th>
<th>	21.03월</th>
<th>	20.12월</th>
<th>	20.09월</th>
<th>	20.06월</th>
<th>	20.03월</th>
<th>	19.12월</th>
<th>	19.09월</th>
<th>	19.06월</th>
<th>	19.03월</th>
</tr>
</thead>
<tbody>
<tr>
<th>주당순이익(EPS,연결지배)</th>
<td>23</td>
<td>28</td>
<td>-8</td>
<td>37</td>
<td>4</td>
<td>-16</td>
<td>-10</td>
<td>-43</td>
<td>8</td>
<td>-6</td>
<td>18</td>
<td class="last">41</td>
</tr>
<tr>
<th>주당순이익(EPS,개별)</th>
<td>24</td>
<td>22</td>
<td>-6</td>
<td>39</td>
<td>4</td>
<td>-16</td>
<td>-11</td>
<td>-34</td>
<td>7</td>
<td>-5</td>
<td>16</td>
<td class="last">35</td>
</tr>
<tr>
<th><abbr title="(주가 / EPS)">PER</abbr> (배)</th>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td class="last">N/A</td>
</tr>
<tr>
<th>주당순자산(지분법)</th>
<td>848</td>
<td>825</td>
<td>797</td>
<td>792</td>
<td>722</td>
<td>718</td>
<td>734</td>
<td>745</td>
<td>786</td>
<td>779</td>
<td>785</td>
<td class="last">768</td>
</tr>
<tr>
<th><abbr title="(주가 / BPS)">PBR</abbr> (배)</th>
<td>3.92</td>
<td>4.97</td>
<td>3.85</td>
<td>2.99</td>
<td>3.00</td>
<td>2.95</td>
<td>3.30</td>
<td>2.51</td>
<td>3.59</td>
<td>4.69</td>
<td>3.37</td>
<td class="last">3.11</td>
</tr>
<tr>
<th><abbr title="주당 배당금">주당 배당금</abbr></th>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td class="last">N/A</td>
</tr>
<tr>
<th><abbr title="시가 배당률">시가 배당률</abbr> (%)</th>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td class="last">N/A</td>
</tr>
<tr>
<th><abbr title="(순이익 / 자본총계)">ROE</abbr> (%)</th>
<td>2.68</td>
<td>3.39</td>
<td>-1.02</td>
<td>4.65</td>
<td>0.60</td>
<td>-2.22</td>
<td>-1.42</td>
<td>-5.77</td>
<td>0.96</td>
<td>-0.82</td>
<td>2.25</td>
<td class="last">5.35</td>
</tr>
<tr>
<th>순이익률 (%)</th>
<td>15.86</td>
<td>16.95</td>
<td>-9.96</td>
<td>44.95</td>
<td>2.22</td>
<td>-10.65</td>
<td>-10.96</td>
<td>-38.49</td>
<td>6.51</td>
<td>-5.76</td>
<td>10.60</td>
<td class="last">14.59</td>
</tr>
<tr>
<th>영업이익률 (%)</th>
<td>14.54</td>
<td>17.51</td>
<td>-7.46</td>
<td>-19.81</td>
<td>1.57</td>
<td>-6.77</td>
<td>-8.21</td>
<td>-14.42</td>
<td>9.86</td>
<td>-3.47</td>
<td>11.37</td>
<td class="last">14.60</td>
</tr>
<tr>
<th>주가</th>
<td>3,325</td>
<td>4,105</td>
<td>3,065</td>
<td>2,395</td>
<td>2,165</td>
<td>2,120</td>
<td>2,420</td>
<td>1,870</td>
<td>2,820</td>
<td>3,650</td>
<td>2,645</td>
<td class="last">2,390</td>
</tr>
</tbody>
</table>]

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?