In [3]:
# day 4 크롤링 관련입니다. 
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np
import os

In [5]:
r = requests.get("http://www.wooribank.com/",
                timeout =15,
                headers = {
                    "user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36"
                })
r.encoding = "utf-8" # encoding 방식 지정 중요!

r.status_code # 200 대이면 정상입니다.

200

In [9]:
soup = BeautifulSoup(r.content, 'html.parser')
print(soup.title)
print(soup.title.string)

<title>우리은행</title>
우리은행

In [11]:
soup.select("div[class='tit-5 absolute js-display-hover']")

[<div class="tit-5 absolute js-display-hover">
 <a class="js-display-hover-trigger" href="https://spot.wooribank.com/pot/Dream?withyou=po"><img alt="금융상품" src="https://simg.wooribank.com/img/intro/header/btn_tit_4_intro_new_211130.png"/></a>
 <div class="js-display-hover-area level2">
 <span class="arrow"></span>
 <ul class="menu">
 <li class="title"><a href="https://spot.wooribank.com/pot/Dream?withyou=po">금융상품</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=PORMG0002">추천상품</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=PODEP0001">예금</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=OWFDM0003">펀드</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=ln">대출</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=fx">외환</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=POGLD0001">골드</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=POTRT0001">신탁</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=POBAC0001">보험</a></li>
 <li><a href="https://svc.wooribank.com/svc/Dream?withyou=rp">퇴직연금</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=OWMNG0014">시니어플러스 은퇴설계</a></li>
 <li><a href="https://spot.wooribank.com/pot/Dream?withyou=IMISA0044">ISA</a></li>
 </ul>
 </div>
 </div>]

In [17]:
for item in soup.select("div[class='tit-5 absolute js-display-hover'] li"):
    print(item.text) # select_one은 한개 == find , select = find_all

금융상품
추천상품
예금
펀드
대출
외환
골드
신탁
보험
퇴직연금
시니어플러스 은퇴설계
ISA

In [23]:
# 실습문제 풀어보자 
# 오늘의 코스피 받아오기 

r = requests.get("https://finance.naver.com/")
r.encoding = "utf-8" # encoding 방식 지정 중요!

r.status_code # 200 대이면 정상입니다. 

#soup.select("div[class='tit-5 absolute js-display-hover']")
soup = BeautifulSoup(r.content, 'html.parser')
print(soup.title.string)
kospi = soup.select_one("span[class='num']")
print(kospi.string)

네이버 금융
2,604.24

In [25]:
# finance date 크롤링 
!pip install finance-datareader
import FinanceDataReader as fdr
import re #정규식 부분입니다.

Collecting finance-datareader
  Downloading finance_datareader-0.9.33-py3-none-any.whl (48 kB)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: pandas>=0.19.2 in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (1.3.4)
Requirement already satisfied: requests>=2.3.0 in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (2.26.0)
Requirement already satisfied: lxml in c:\users\hong\anaconda3\lib\site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hong\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\hong\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hong\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hong\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hong\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: colorama in c:\users\hong\anaconda3\lib\site-packages (from tqdm->finance-datareader) (0.4.4)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.33 requests-file-1.5.1

In [28]:
#투자 지표 수집이 가능합니다. 
fdr.DataReader('AAPL','2019').head(3)  # 주의 쌍따움표는 안됩니다. 왜 안되지?
#fdr.DataReader('AAPL', '2017').head(3)

            Close   Open   High    Low       Volume  Change
Date
2019-01-02  39.48  38.72  39.71  38.56  148160000.0  0.0010
2019-01-03  35.55  35.99  36.43  35.50  365250000.0 -0.0995
2019-01-04  37.06  36.13  37.14  35.95  234430000.0  0.0425

In [31]:
# 기간 설정도 간으합니다.
fdr.DataReader('AMAZ','2019/01/01','2019/12/31').head(3) #기간을 해보는 것 - / 붙여쓰기 다 가능합니다. 
# USD/KRW 환율입니다.

            Close  Open  High   Low   Volume  Change
Date
2019-01-02   0.21   0.2  0.21  0.20   6400.0  0.1667
2019-01-03   0.18   0.2  0.20  0.18   5720.0 -0.1429
2019-01-04   0.20   0.2  0.20  0.20  12670.0  0.1111

In [33]:
stocks = fdr.StockListing('krx') # KRX krx 대소문자 구별 안함 
stocks.head(5)
stocks.dropna(inplace=True) # 지표가 없는 것들 삭제 전처리 중

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [ ]:
base_url = "https://search.itooza.com/search.htm?seName={}&jl=&search_ck=&sm=&sd=2021-08-09&ed=2021-09-08&ds_de=&page=&cpv="
formatted_url = base_url.format('060310')# S3 의 주식 symbol {} 안에 들어 갈것 동적으로 입력합니다. 
html = requests.get(formatted_url).content

soup = BeautifulSoup(html,'lxml')

In [ ]:
#beautifulsoup 파싱 방법, html.parser 설치 필요없고 중간 속, lxml 속도가 빠름 추가 설치 필요
# html5lib 웹브라우저와 같은 방식으로 페이지 파싱 합니다. 느립니다.

In [41]:
for code, name in stocks[:5][['Symbol','Name']].values: #[행][열] 여러개 담을때는 리스트 형태로 입력해 줘야 합니다. 
    print(code, name) # 테스트 용도로 출력
    try:
        url = base_url.format(code)
        html = requests.get(url).content
        soup = BeautifulSoup(html,'lxml')
        break
    except:
        print('error')
        time.sleep(15)
#div[cl"ass='[it-5s='ex']"olute js-display-hover']
    table = soup.select("table[class='ex']")
    
    if table == None: # 없으면 할일이 없다 넘어감 
        continue
    
    idx = ["2021-2Q",'2021-1Q'] # 인덱스 정의 
    tbody = table.select_one('tbody')
    t_row = tbody.select('tr')
    
    result_dic ={}
    for tr in t_row:
        col_name = tr.select_on('th').text
        values = [td.text for td in tr.select('td')]
        result_dic[col_name] = values
    
    result  = pd.DataFrame.from_dict(result_dic)
    print(result)
    result.drop('주가',axis=1,inplace=True) # 주가열 필요없
     result['분기'] = idx
    
    if code == '060310': print(result) # 첫 루프를 돌 때만 result 출력

    result.to_csv(name + ".csv", index = False) # csv 파일로 저장. 파일 목록 확인해보기
    
    time.sleep(1) # 1초씩 재우기

IndentationError: unexpected indent (Temp/ipykernel_13816/2267984322.py, line 30)